.gradle
/.fastRequest
build/
!src/main/kotlin/icons
!src/main/resources/icons
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
.DS_Store
.idea
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/
.intellijPlatform
.run
.kotlin


